html{
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

.backg_col{

    background-color: $youtubeGrey;
}

// Buttons

button, .button {
    padding: 0.875rem 2.1875rem;
    border:none;
    background: linear-gradient(to right, $grayishBlue, $brightcyan);
    font-size: $font-small;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    color: $white;
    width: 6rem;
    margin: 0 auto;
    z-index: 3;
}

.button_effect{
    font-size: $font-small;
    //color: $white;


    ////transition: color 300ms ease-in-out;
   // transition: background 300ms ease-in-out;
    transition: 300ms ease-in-out; 

    &:hover{
        color:  black;
        background: $veryLightGray;
        transition: 300ms ease-in-out; 
        transition: color 300ms ease-in-out;
        transition: background 300ms ease-in-out;
    }
}