// Colours

$darkBlue:hsl(233, 26%, 24%);
$darkdarkBlue:hsl(210, 7%, 5%);
$violet: hsl(257, 40%, 49%);
$softMagenta: hsl(300, 69%, 71%);
$brightcyan: hsl(192, 70%, 51%); 
$grayishBlue: hsl(150, 8%, 62%);
$lightGrayishBlue : hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$youtubeGrey: #303030;
$silver: #bdc3c7;
//$DXCpurple: rgba(95, 36, 159);
$lightishRockGrey: #a5b1c2;

// Font sizes
$font-small: 0.875rem; // 14px
$font-med: 1.125rem; // 18 px
$font-large: 2.5rem; // 18 px