nav{
    background: rgba(17, 7, 7, 0.3);
    width: max-content;
    display: block;
    padding: 0.5rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 0.5rem;
    display: flex;
    gap: 1.5rem;
    border-radius: 3rem;
    backdrop-filter: blur(50px);
}

nav a{
    background: transparent;
    border-radius: 50%;
    padding: 0.75rem;
    display: flex;
    color: var(--color-bg-primary);
    font-size: 20px;
}

nav a:hover{
    background: rgba(0,0,0,0.6);
}

nav a.active{
    background: var(--color-bg);
    color: var(--color-white);
}