<!DOCTYPE html>
<!-- Reference to css file -->
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- <META HTTP-EQUIV=”refresh” CONTENT=”5″> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        
        
        <!-- Chnaged to reflect the 'Django way' of referencing files -->
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
        <title></title>
    </head>

<body class="backg_col">

    <!-- Header section-->
  <!--  <section class="navigation-bar">

        <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <div class="">
            <a id="about-page" href="#about" class="">About</a>
            <a id="timeline-page" href="#timeline" class="">Timeline</a>
            <a id="projects-page" href="#projects" class="">Projects</a>
            <a id="research-page" href="#research" class="">Research</a>
        </div>

    </section> --> 

    <header class="header">

        <div class="overlay has-fade">
        </div>

        <nav class="flex flex-jc-sb flex-ai-c">

          <!-- <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
                <span></span>
                <span></span>
                <span></span>

            </a> --> 

            <div class="header__links hide-for-mobile">
                <a id="about-page" href="#about" class="links">About</a>
                <a id="timeline-page" href="#timeline" class="links">Timeline</a>
                <a id="projects-page" href="#projects" class="links">Projects</a>
                <a id="research-page" href="#research" class="links">Research</a>
                <a href="#" class=""></a>
            </div>


            <!-- <a href="#" class="button header__cta hide-for-mobile" onclick="sendMail()">Contact</a> -->
        </nav>

      <!--  <div class="header__menu has-fade">
            <a href="#home">Home</a>
            <a href="#timeline">Timeline</a>
            <a href="#portfolio">Experience</a>
            <a href="#phd">PhD</a>
            <a href="https://www.researchgate.net/profile/Ryan-Sers" class="link" target="_blank">Publications</a>
            <a href="https://www.linkedin.com/in/ryan-sers-0a23379b/" class="link" target="_blank">Linkedin</a>
            <a href="https://github.com/Ryan121" class="link" target="_blank">Github</a>
        </div> --> 
    </header>

    <!-- Hero section -->
    <section class="hero">
        
        <div class="intro">
            <div class="intro_container">
                <div class="top_intro_container">
                    <img id="Profile_Image" src="images/stock_image.png">
            
                    <div class="name_text_padding">Ryan <br> Sers</div>
                </div>
                <div class="bottom_intro_container">
                    <div class="job_title_text">Data Scientist</div>
                    <div class="info_text">I hold a PhD in Surgical Wearable Bio-robotics and currently solve data science problems 
                        for a wide range of clients at DXC Technology
                    </div>

                </div>
                <p> &nbsp; </p>
                <a href="#" class="button button_effect header__links links">Download CV</a>
            </div>
        </div>

        <div class="timeline-main">
            <div class="timeline_container">
                <div class="example-title">
                    <div class="timeline_header_text"><b>Timeline</b></div>
                    <!-- <p>Extra small devices (phones, less than 768px)</p> -->
                </div>
                <div class="">
                    <ul class="timeline">
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>September 2021 - Present</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3 class="timeline-title">Data Scientist at DXC Technology</h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere
                                    ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae
                                    sapien ut libero venenatis faucibus. ullam dictum felis
                                    eu pede mollis pretium. Pellentesque ut neque.</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>March 2017 - Present</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3 class="timeline-title">Event Operations Engineer at Seiko Timing Services (Freelance)
                                </h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere
                                    ut, mauris. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae
                                    sapien ut libero venenatis faucibus. ullam dictum felis
                                    eu pede mollis pretium. Pellentesque ut neque.</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>September 2017 - September 2021</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3 class="timeline-title">PhD in Surgical Wearable Bio-robotics</h3>
                                <p>I completed a PhD in the field of surgical werable-biorobotics at Loughborough University, UK. The novelty of the research focussed on quantifying the impact of patient's with obesity and severe obesity on the posture and kinematics of surgeons who performed keyhole (laparoscopic) surgery. </p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>June 2016 - September 2016</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3 class="timeline-title">Systems Operator at Hawkeye Innovations</h3>
                                <p>Completed a summer placement at Hawkeye working in the Synchronised Multi-angle Replay Technology (SMART) team </p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>September 2014 - August 2015</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3 class="timeline-title">System Design Engineer at MBDA Missile Systems</h3>
                                <p>Completed an undergraduate placement as a System Design Engineer working in the novel systems team on projects related to research and development on direct energy weapons</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>October 2012 - July 2017</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3 class="timeline-title">Masters in Systems Engineering</h3>
                                <p>Completed a Masters in Systems Engineering with a diploma in industrial studies (DIS).
                                    This degree largely focussed on
                                    implementing a systems approach in complex technical projects. Key elements included
                                    gathering requirements from
                                    customers, requirements design, system architecture, system design, system analysis and
                                    validation and verification
                                    activies. The final year of this degree also marked the first time I had worked with
                                    machine learning for activity recognition.</p>
                            </div>
    
                        </li>
                        <li class="timeline-item period">
                            <div class="timeline-info"></div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content"></div>
    
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Project -->
        <div class="project">

            <div class="project_heading"><div class="timeline_header_text">Projects</div>

                <div class="project_container">

                    <div class="project_column">
                        <img class="thumbnail-image" src="/images/Autoencoder_Image.png">
                        <div class="thumbnail-body">
                            <h4>Multivariate Time series surgical kinematics classification</h4>
                        </div>
                    </div>
    
                    <div class="project_column">
                        <img class="thumbnail-image" src="/images/Autoencoder_Image.png">
                        <div class="thumbnail-body">
                            <h4>Time series Autoendocoders</h4>
                        </div>
                    </div>
    
                    <div class="project_column">
                        <img class="thumbnail-image" src="/images/Autoencoder_Image.png">
                        <div class="thumbnail-body">
                            <h4>Image Autoencoders</h4>
                        </div> 
                    </div>
    
                </div>

            </div>

        </div>

        <!-- Research -->
        <div class="research">

            <div class="research_heading"><div class="timeline_header_text">Research</div>

                <div class="research_container">

                    <div class="research_column">
                        <img class="thumbnail-image" src="/images/Autoencoder_Image.png">
                        <div class="thumbnail-body">
                            <h4>Journal Papers</h4>
                        </div>
                    </div>
    
                    <div class="research_column">
                        <img class="thumbnail-image" src="/images/Autoencoder_Image.png">
                        <div class="thumbnail-body">
                            <h4>PhD Thesis</h4>
                        </div>
                    </div>
    
                    <div class="research_column">
                        <img class="thumbnail-image" src="/images/Autoencoder_Image.png">
                        <div class="thumbnail-body">
                            <h4>Code Publications</h4>
                        </div> 
                    </div>
    
                </div>

            </div>

            
        </div>

         <!-- Contact Form -->
         <!-- https://www.youtube.com/watch?v=r4RQ38EoLds -->
         <div class="contact_form">
            <div class="contact_form_container">         
                <form class="form_style" action="https://formsubmit.co/your@email.com" method="POST">
                    <div><h2>Contact</h2></div>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Email Address</span>
                    </div>
                    <div class="inputBox">
                        <textarea type="text" name="" required="required"></textarea>
                    </div>
                    <div class="inputBox">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>

        </div>



    </section>

    <!-- The website footer -->
    <!-- <section class="footer"> -->

        <section class="footer">FOOTER


        </section>
    
    
</body>
</html>