// ------------------------------ //
// ------------------------------ //
//Projects Styling
// ------------------------------ //
// ------------------------------ //

.project{

    margin: 0 auto;
    width: 80%;
    padding-top: 2rem;
    
}

.project_heading{

    display: flex;
    flex-direction: column;
    background-color: pink;
    
}

.header_text{

    font-size: 2.5rem;
    text-align: center;
}

.project_container{

    display: flex;
    
    //height: 50px;
    //width: 100%;
    

}


.project_column{

    display: flex;
    flex-direction: column;
    align-items: center;
    //width: 300px;

}

.thumbnail-image{

    justify-content: center;
    text-align: center;
    width: 90%;
}


.thumbnail-body{

    text-align: center;
}

// ------------------------------ //
// ------------------------------ //
//Research Styling
// ------------------------------ //
// ------------------------------ //

.research{

    margin: 0 auto;
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.research_heading{

    display: flex;
    flex-direction: column;
    background-color: pink;
    
}

.research_container{

    display: flex;
    
    //height: 50px;
    //width: 100%;
    

}


.research_column{

    display: flex;
    flex-direction: column;
    align-items: center;
    //width: 300px;

}